<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings>
    <add name="conn" connectionString="Server=0398993d-d6ad-43e4-afca-a4d000bb6e21.sqlserver.sequelizer.com;Database=db0398993dd6ad43e4afcaa4d000bb6e21;User ID=czsmvzeuseqqadhz;Password=8Q5qU2s7dpQRMwJQc6e6M4SpFv6aG6gNHP6okiUnMTyHnAjvJ5Ldetrd6PSx5sxg;"/>
  </connectionStrings>
</configuration>
